html, body {
    margin:0;
    padding:0;
    background-color: rgb(24, 25, 43);
    color: #eee;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a, a:visited {
    color: #eee;
    text-decoration: none;
}

header h1 {
    text-align: center;
    font-weight: normal;
}


.moviesInner {
    width: 300px;
    margin: 0 auto;
    padding: 0 0 50px 0;
}

.moviesInner:after {
    content: "";
    display: table;
    clear: both;
}

.movie {
    margin: 30px auto;
    width: 200px;
}
.movie img {
    width: 200px;
    height: 300px;
}


.movie-container .movie-poster {
    display: none;
}
.movie-hero {
    position: relative;
    width: 100%;
}

.movie-hero .movieBackdrop img {
    width: 100%;
}

.movie-hero .movie-title {
    font-size: 22px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.movie-details p {
    padding: 0 20px;
}

.movie-details .movie-title {
    display:none;
}

.back-btn-div {
    position: absolute;
    top: 20px;
    left: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgb(24, 25, 43);
}

footer .copyright {
    width: 300px;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
}
footer p {
    font-size: 10px;
    text-align: center;
    margin: 0;
    width: 320px;
}
footer img {
    width: 20px;
}


/* phone */
@media only screen
and (max-width : 599px) {

}

/* table portrait & up */
@media only screen
and (min-width: 600px) {
    .moviesInner {
        width: 440px;
        margin: 0 auto;
    }
    .movie {
        float: left;
        margin:10px;
    }

    .movie-hero .movie-title {
        display: none;
    }
    .movie-details .movie-title {
        padding: 0 20px;
        display:block;
    }
    .movie-hero {
        display:none;
    }
    .movie-container {
        width: 640px;
        margin: 0 auto;
    }
    .movie-container .movie-poster {
        float:left;
        display: block;
        margin-top: 20px;
    }
    .movie-details {
        float:left;
        width: 300px;
    }
    .back-btn-div {
        position: static;
        margin: 20px 0px 0 20px;
    }
}

/* slightly larger tablet */
@media only screen
and (min-width: 768px) {
    .moviesInner {
        width: 660px;
        margin: 0 auto;
    }
}

/* tablet landscape & up */
@media only screen
and (min-width: 900px) {
    .moviesInner {
        width: 880px;
    }
}

/* desktop and up */
@media only screen
and (min-width: 1200px) {
    .moviesInner {
        width: 1100px;
    }
}


